body {
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px 250px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.pt1 {
    display: flex;
    background-color: #1f2937;
    padding: 125px 250px;
    justify-content: space-between;
    gap: 80px;
}

.headingpt1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.parapt1 {
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

.pt1 button {
    background-color: #3882f6;
    border: none;
    width: 100px;
    height: 30px;
    margin: 10px 0;
    border-radius: 7px;
    color: #E5E7EB;
    font-weight: bolder;
}

.pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 40px;
    padding-bottom: 120px;
}

.headingpt2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.roundbox {
    width: 180px;
    height: 180px;
    border-color: #3882f6;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 12px;
}

.text {
    width: 180px;
    text-align: center;
}